<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/head :: libraries">
	<meta charset="UTF-8"/>
	<title>Witamy w grze :)</title>
	<script th:src="@{/js/index.js}"></script>
</head>
<body>
	<div class="container">
		<h1>Welcome in Ships Battle!!!!</h1>
		<div id="login-section">
			<h2>Logowanie:</h2>
			<div id="login-message"></div>
			<div class="row">
				<input type="text" id="login-to-login" placeholder="Podaj nazwę użytkownika"/>
			</div>
			<div class="row">
				<label for="password-to-login">Hasło:</label>
				<input type="password" id="password-to-login"/>
			</div>
			<button id="login-button" class="btn btn-primary">Loguj</button>
		</div>
		<a href="#" id="go-to-registration">Zarejstruj się</a>
		<div id="registration-section">
			<h2>Rejestracja:</h2>
			<div id="registration-message"></div>
			<div class="row">
				<input type="text" id="login" placeholder="Podaj nazwę użytkownika"/>
			</div>
			<div class="row">
				<label for="password1">Hasło:</label>
				<input type="password" id="password1"/>
			</div>
			<div class="row">
				<label for="password2">Powtórz hasło:</label>
				<input type="password" id="password2"/>
			</div>
			<button id="registration-button" class="btn btn-primary">Utwórz konto</button>
		</div>
		<a href="#" id="go-to-login">Powrót do logowania</a>
	</div>	
</body>
</html>